*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  border: none;
  width: 800px;
  height: 25px;
  font-size: 10px;
  background-color: #FFF;
}

.bigContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-color: #fefefe;
}


.mainContent{
  height: 500px;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 0;
}

.mainPicture{
  margin-top: 30px;
  background-color: #fafafa;
  width: 1080px;
  height: 500px;
}

.classBar{
  height: 80px;
  display: flex;
  justify-content: center;
}

.classBarItems{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.classBarItems1,.classBarItems2,.classBarItems3{
  border: solid black 1px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.campingPlannerBar{
  display: flex;
  justify-content: center;
}

.plannerContent{
  height: 350px;
  width: 80%;
  background-color: #ade8f4;
  margin: 0;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createAccount{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

.createAccountContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  background-color: #edf6f9;
  height: 30px;
  box-shadow: #FFF 2px 2px;
  border: solid #ccc 2px;
}

#createNewAccountHeading{
  font-size: 30px;
}

#createNewAccountWording, #createNewAccountHeading{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  border: none;
  margin: 5px;
  box-shadow: #FFF 2px 2px;
}

#icon{
  margin: 10px;
}

.editorContent{
  justify-content: center;
  background-color: #eff7f6;
  width: 1080px;
}

.choiceTitle{
  position: relative;
  left: 20px;
  font-size: 20px;
  margin: 15px 0 ;
}
.activitiesChoice{
  display: flex;
  justify-content: space-between;
}

.image{
  margin: 0 10px;
  height: 380px;
  width: 500px;
  border: solid black 1px;
}

.content{
  margin: 0 10px;
  height: 380px;
  width: 500px;
  border: solid black 1px;
}

.divbutton{
  display: flex;
  justify-content: flex-end;
}

.addEvent{
  background-color: #B9E6F2;
  color: #000;
  padding: 15px 32px;
  font-size: 16px
}

.alreadyUsing{
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.alreadyUsingSignIn{
  color:#0096c7;
}

.alreadyUsingSignIn:hover{
  text-decoration: underline;
  cursor: pointer;
}