/* 以下是編輯精選的css */
@media (min-width: 0) {
  .editorContent,
  .plannerContent3nd {
    display: none;
  }
}

@media (min-width: 320px) {
  .editorContent,
  .plannerContent3nd {
    display: none;
  }
}

@media (min-width: 480px) {
  .editorContent,
  .plannerContent3nd {
    display: none;
  }
}

@media (min-width: 600px) {
  .editorContent,
  .plannerContent3nd {
    display: none;
  }
}
  

@media (min-width: 801px) {
  .editorContent,
  .plannerContent3nd {
    display: block;
  }
}

@media (min-width: 1025px) {
  .editorContent,
  .plannerContent3nd {
    display: block;
  }
}

@media (min-width: 1281px) {
  .editorContent,
  .plannerContent3nd {
    display: block;
  }
}

.editorBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(254,246,188,0.2);
  width: 1200px;
  height: 1000px;
}

.editorContent{
  width: 800px;
}

.editorChoice {
  font-size: 30px;
  position: relative;
  left: 20px;
  margin-top:50px;
}

.campChoice,
.playChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choiceTitle {
  position: relative;
  left: 20px;
  font-size: 20px;
  margin: 15px 0;
}

.recommentItem {
  margin: 0 10px;
  height: 150px;
  width: 800px;
  border: solid #005900 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* color: #ffb703; */
  color: #fff;
  text-shadow: -1px 4px 11px #000, 2px 2px 3px #005900;
  border-radius: 5px;
  font-weight: 800;
}

.play1 {
  background: url(/images/blog1-1.jpg);
  background-size: 800px 400px;
  background-position: 50% 50%;
}

.camp1 {
  background: url(/images/blog2-1.jpg);
  background-size: 800px 300px;
  background-position: 50% 80%;
}

.special:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: none;
  background-color: rgba(230,89,33,1) ;
  background-size: auto;
  text-decoration: none;
  color: #FFF;
  width: 800px;
}


.extraCampInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 800px;
  border-radius: 5px;
  border: rgba(230,89,33,1) solid 1px;
  font-size: 20px;
  background: url(/images/campingNeed.jpg);
  background-size: 800px 400px;
  background-position: 50% 50%;
  font-style: 800;
  color: #fff;
  text-shadow: -1px 4px 11px #000, 2px 2px 3px rgba(230,89,33,1);
}

.extraCampInfo:hover {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: none;
  background-color: rgba(230,89,33,1);
  text-decoration: none;
}

.special{
  position: relative;
  top: -10px;
  height: 75px;
  width: 800px;
  background: rgba(184,215,185,1);
}

/* 編輯精選的css到此為止 */
