* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(248,243,227,1);
}

input {
  border: none;
  width: 600px;
  height: 25px;
  font-size: 10px;
  background-color: #fff;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pictures {
  width: 1200px !important;
  height: 500px;
}

/* 以下是Slide Bar */
.mainContent {
  height: 500px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 0;
}

/* 以上是Slide Bar */

/* 以下是section */
section {
  height: 350px;
  width: 600px;
}

.getStartContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.getStartContentHeading {
  font-size: 25px;
  margin: 20px;
  color:rgba(230,89,33,1);
}

.getStartContentSubHeading {
  margin: 10px 20px;
  color: rgb(160, 79, 47);
}


.colon{
  background-image: url(../images/qoute1.png),
  url(../images/qoute2.png);
  
  background-size: auto 80px, auto 80px;
  background-repeat: no-repeat;
  background-position: left 10% bottom 80%, left 85% bottom 80%;
  width: 1200px;
  display:flex;
  justify-content: center;
}

/* 以上是section */


/* get start button css */

#getStartButton {
  margin: 20px;
  position: relative;
  color: #555;
  background-color: transparent;
  border-radius: 15px;
  border: solid 2px rgba(230,89,33,1);
  z-index: 100;
  text-align: center;
}

#getStartButton:hover {
  cursor: pointer;
  background-color: rgba(246,244,210,1);
}