*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    border: none;
    width: 240px;
    height: 40px;
    font-size: 10px;
    background-color: #FFF;
    border-radius: 5px;
}

body{
    background-color: rgba(248,243,227,1);
}

.bigContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent{
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.mainPicture{
    margin-top: 30px;
    width: 1200px;
    height: 100%;
}

.classBar{
    height: 80px;
    display: flex;
    justify-content: center;
}

.classBarItems{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.classBarItems1,.classBarItems2,.classBarItems3{
    border: solid black 1px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.campingPlannerBar{
    margin-top: 50px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.plannerContent,.plannerContent1{
    width: 800px;
    background-color: rgba(203, 223, 189, 1);
    margin: 0;
    color: #555;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#createAccount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.createAccountContent:nth-child(1){
    border-radius: 10px 10px 0 0;
}

.createAccountContent1:nth-child(1){
    border-radius: 10px 10px 0 0;
}

.createAccountContent1:nth-child(2){
    border-radius: 0 0 10px 10px;
}

.createAccountContent:nth-child(4){
    border-radius: 0 0 10px 10px;
}

.createAccountContent,.createAccountContent1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0;
    background-color: #edf6f9;
    height: 50px;
    width: 300px;
    box-shadow: #FFF 2px 2px;
    border: solid #ccc 2px;
}

#createNewAccountHeading{
    font-size: 30px;
}

#createNewAccountWording, #createNewAccountHeading{
    margin: 5px;
}

#createNewAccountWordingSubHeading{
    color: rgba(248,243,227,1);
    margin-top: 20px;
    margin-bottom: 5px;
}

#createNewAccountWording1{
    color: rgba(248,243,227,1);
    margin-top: 20px;
    margin-bottom: 5px;
}

#signUpButton,
.formSubmitbButton{
    height: 40px;
  width: 80px;
  border: none;
  margin: 20px 0px;
  position: relative;
  left: 50%;
  font-size: 14px;
  color: #555;
  background-color: transparent;
  border-radius: 15px;
  border: solid rgba(248,243,227,1)3px;
  text-align: center;
}

#signUpButton{
    position: relative;
    left: 30% !important;
}
#icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plannerContent3nd{
    width: 800px;
    height: 600px;
}

.editorChoice{
    font-size: 30px;
    position: relative;
    left: 20px;
}

.campChoice, .playChoice, .foodChoice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommentItem{
    margin: 0 10px;
    height: 120px;
    width: 240px;
    border: solid black 1px;
}

.recommentItem1{
    margin: 0 10px;
    height: 120px;
    width: 500px;
    border: solid black 1px;
}

.choiceTitle{
    position: relative;
    left: 20px;
    font-size: 20px;
    margin: 15px 0 ;
}

.editorContent{
    display: flex;
    justify-content: center;
    background-color: #eff7f6;
    width: 1200px;
}

.alreadyUsing{
    display: flex;
    width: auto;
}

.alreadyUsingSignIn{
    color:rgb(165, 76, 41);
}

.alreadyUsingSignIn:hover{
    text-decoration: underline;
    cursor: pointer;
}

{
    width: 240px;
    height: 25px;
    margin: 15px 5px;
    position: relative;
    right: 5px;
    background-color: #219ebc;
}

.backgroundImage{
    height: 200px;
    width: 1200px;
    background: url(/images/campingInSky.jpg); 
    background-size: 1200px 800px;
    background-position: 50% 60%;
}

.inactive{
    display: none;
}

.contentLeft{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    margin-top: 50px;
}

.contentRight{
    width: 300px;
    height: 600px;
}

.loginInImage{
    height: 600px;
    width: 400px;
    margin: 0;
    border-radius: 0 20px 20px 0;
}

