.checklist{
    display: flex;
    justify-content: center;
}
.checklistContent{
    margin-top: 50px;
    padding-top: 50px;
    height: 800px;
    width: 1000px;
    border: none;
    
    background-color: transparent;
    border-radius: 25px;
    border: solid 5px rgba(94,100,169,1);
}



ul {
    margin: 0;
    padding: 0;
}

.my li {
    cursor: pointer;
    position: relative;
    padding: 12px 30px 12px 40px;
    background:transparent;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(60, 62, 83,1);
    font-weight: bold;
}
.my li::marker {
    color:rgb(60, 62, 83,1) ;
    overflow: scroll;
}

.my li :hover{
    background: rgb(60, 62, 83,1);
}

.inputHeader {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 100px;
    border-radius: 12px;
    width: 60%;
    height: 40px;
    border: solid rgba(94,100,169,1) 3px;
    margin-left: 20%;
    overflow: hidden;    
}

.inputHeader > input{
   color:rgb(60, 62, 83,1);
}

.checked {
    background: #888;
    color: #F0F7F6;
    text-decoration: line-through;
  }
  
.checked::before {
    content: '';
    position: absolute;
    border-color: #F0F7F6;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 12px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 60px 12px 16px;
  }
  
  .close:hover {
    background-color: #ddd;
    color: white;
  }
  

  
  .inputHeader:after {
    content: "";
    display: table;
    clear: both;
  }
  
 


  
  .addItems {
    height: 34px;
    width: 100px;
    color: rgb(60, 62, 83,1);
    background-color: rgba(246, 244, 210, 0.5);
    border: none;
    text-align: center;
    font-size: 16px;
    position: relative;
    left: 35%;
    font-weight: bold;
    
  }
  
  .addItems:hover {
    background-color: #bbb;
  }
  
  #myList{
    height:600px;
    overflow: auto;
  }