/* 以下是Dav Bar */
@media (min-width: 320px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 320px;
  }
}

@media (min-width: 480px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 480px;
  }
}

@media (min-width: 600px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 600px;
  }
}

@media (min-width: 801px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 801px;
  }
}

@media (min-width: 1025px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 1025px;
  }
}

@media (min-width: 1200px) {
  .davBlackLine,
  .dav_bar {
    width: auto;
    min-width: 1200px;
  }
}

.dav_bar {
  height: 70px;
  display: flex;
  justify-content: center;
  /* color:rgba(230,89,33,1) !important; */
}

.davBlackLine {
  padding: 10px 0px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.davButton {
  margin: 0 20px;
}

.davItem:hover {
  cursor: pointer;
  color: rgba(184,215,185,1);
  text-decoration: underline;
  font-size: 18px;
}

.dontHaveAccountSignUp {
  color: rgb(165, 76, 41)
}

.dontHaveAccountSignUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rightDavBar {
  display: flex;
}

.davItem {
  margin: 0 20px;
  color:rgba(230,89,33,1)
  
}
/* 以上是Dav Bar */

*{
  
  font-family: 'Noto Sans TC', sans-serif;
}