/* @media (min-width: 320px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 320px;
    }
  }
  
  @media (min-width: 480px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 480px;
    }
  }
  
  @media (min-width: 600px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 600px;
    }
  }
  
  @media (min-width: 801px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 801px;
    }
  }
  
  @media (min-width: 1025px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 1025px;
    }
  }
  
  @media (min-width: 1200px) {
    .adddiv, .dropdownContent {
      width: auto;
      min-width: 1200px;
    }
  } */

.adddiv{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.addButton{
    margin-top: 30px;
    margin-right: 30px;
    height: 40px;
    width: 80px;
    position: relative;
    font-size: 14px;
    color: rgba(230,89,33,1);
    background-color: transparent;
    border-radius: 15px;
    border: solid rgba(184,215,185,1) 3px;
    text-align: center;
    z-index: 1000000;
    font-weight: bolder;
}


.dropdownContent {
    display: none;
    position: absolute;
    top:110%;
    /* left: 30%; */
    background-color:rgba(184,215,185,1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
  }


.dropdownContent a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.hide {
    display: none;
  }


.dropBox{
    width:500px;
    height:550px;
    
}

.dropBox > div{
    margin: 30px;
}

#remark{
    margin:0;
    background-color: transparent;
    border-radius: 12px;
    border: solid rgba(242, 247, 242, 1) 3px;
    padding-left: 20px;
    width: 380px;
    height: 100px;
}

.activitiesSelector{
    border: solid black;
}

.customInput{
    display: none;
}


label,
input,
select {
  border: none;
  width: 75%;
  height: 25px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  background-color: transparent;
  color: #232323;
  text-align: left;
  appearance: none;
  outline: none;
  margin-bottom: 0px;
}

.dropbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px 0;
  background-color: transparent;
  border-radius: 12px;
  height: 40px;
  border: solid rgba(242, 247, 242, 1) 3px;
  padding-left: 20px;
}

.submitButton{
    height: 40px;
    width: 80px;
    border: none;
    margin: 20px 0px;
    position: relative;
    left: 40%;
    font-size: 14px;
    color: #232323;
    background-color: transparent;
    border-radius: 15px;
    border: solid rgba(242, 247, 242, 1) 3px;
    text-align: center;
  }