*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
  /* background-color: #fefefe; */
  background-color: rgba(248,243,227,1);
}

.bigContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent{
    height: 500px;

}


/* 要換相 */
.mainPicture{
    /* background-image: url(/images/index2.jpg);  */
    /* margin-top: 30px; */
    background: url('../images/editAct4.jpg');
    background-position: 50% 65%;
    background-size: 1200px 600px;
    filter: brightness(1.5);
    width: 1200px;
    height: 500px;
    overflow: hidden;
    filter: blur(3px);
}

.bg-text {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: relative;
  top: -350px;
  left: 30%;  
  z-index: 2;
  width: 40%;
  height: 45%;
  padding-top:60px;
  text-align: center;
  border-radius: 180px;
}

.bg-text > p{
  margin-bottom: 15px;
}
.camp_name{
 width: 50%;
 height: 55px;
 border-top: solid 2px white;
 border-bottom: solid 2px white;
 z-index: 2;
 margin-left: 25%; 
}

.hugeContent {
    /* background-color: #F0F7F6; */
    width: 1200px;
    height: auto;
    margin-bottom: 20px;
}

#campsiteContent{
    width: 80%;   
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.campChoice {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 25px;
    border: solid 5px rgba(245,178,56,1);
    overflow: hidden;

}

.campsiteImage{
    margin: 30px;
    height: 450px;
    width: 90%;    
    border-bottom:none;
    border: none;
    overflow: hidden;
  }
  
.campsiteInfo{    
    margin-bottom:30px;
    width: 90%;
    border: none;
    background-color: transparent;
    color: rgba(102,77,30,1);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
}

.info-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10%;
  margin-top: 18px;
  margin-bottom: 18px;
  
}

.info-title{
  width: 15%;
}

.info-content{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

#weather{
  margin-top: 50px;
    padding: 40px 30px;
    width: 90%;   
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: auto;
    border-radius: 25px;
    border: solid 5px rgba(230,89,33,1);

}

.smallcontainer{
  /* display: flex;
  justify-content: center; */
  padding-bottom: 10px;
  padding-top:10px;
  width: 450px;
  background-color: transparent;
    color: rgb(136, 74, 50);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
}

/* .button{
    border: none;
    margin: 5px 0px;
    width: 600px;
    position: relative;
    right: 3px;
} */ 

.deleteActivity{
  height: 30px;
    width: 60px;
    position: relative;
    left: 75%;
    font-size: 14px;
    color: rgba(248,243,227,1);
  background-color: transparent;
  border-radius: 7px;
  border: solid rgba(248,243,227,1) 3px;
}