* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: rgba(248,243,227,1);
}
.mainContent{
  height: 500px;
  overflow: hidden;
}
.mainPicture {
  margin-top: 0px;
  background: url(/images/eventEditMainPic.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 1200px 500px;
  filter: blur(2px);
  width: 1200px;
  height: 500px;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: relative;
  top: -350px;
  left: 30%;  
  z-index: 2;
  width: 40%;
  height: 45%;
  padding-top:60px;
  text-align: center;
  border-radius: 180px;
}


#icon {
  margin: 10px;
}

.hugeContent {
  display: flex;
  flex-direction: column;
  background-color:transparent;
  width: 1200px;
  height: auto;
  margin-bottom: 20px;
  
}

.event-board{
  border-left:solid rgba(120,18,14,1) 0.5px;
  border-top: none;
  background-image:
  url(../images/pen.png), 
  -webkit-linear-gradient(top, transparent 48px, rgba(120,18,14,1) 50px),
  -webkit-linear-gradient(left, transparent 48px, rgba(120,18,14,1) 50px);
  background-repeat:no-repeat, repeat, repeat;
  background-size: auto 250px, 50px 50px, 50px 50px;
  background-position: bottom right, top, left;


  /* border-bottom: none; */
}

.heading {
  background-color: rgba(209,176,79,1);
  color: rgba(120,18,14,1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 0;
  margin-left: 35%;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: rotate(-3deg);
  font-weight: 800;
}

.twoButton {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.editEvent {
    position: relative;
    color: #555;
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px rgba(230,89,33,1);
    z-index: 100;
    width: 60px;
    height: 30px;
    text-align: center;
}

.deleteButton, #confirmDelete, #notDelete{
   position: relative;
   color: #555;
   background-color: transparent;
   border-radius: 15px;
   border: solid 2px rgba(230,89,33,1);
   z-index: 100;
   width: 60px;
   height: 30px;
   text-align: center;
}

.editEvent:hover {
  cursor: pointer;
  background-color: #C2BA9E;
}

.deleteButton:hover,#confirmDelete:hover, #notDelete:hover{
  cursor: pointer;
  background-color: #C2BA9E;
}



.userEventCard {
  display: flex;
  /* justify-content: center; */
  margin-left: 60px;
  height: auto;
  width: 1080px;
  flex-wrap: wrap;
  padding-bottom: 20px;

}

.card {
  background-color: rgba(254,246,188,1);  
  margin: 20px 20px;
  height: 200px;
  width: 280px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  color: #555;
}
.card-title{
  font-size: 20px;
  border-bottom: solid 1px  #a44a3f;
  margin-bottom: 15px;

}
.card-text{
  margin-bottom: 10px;
}

.welcomeWordings {
  margin: 0 20px;
  font-size: 20px;
  font-size: 30px;
}

.confirmDelete > .card{
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}

.buttonDiv{
  display: flex;
  justify-content: space-evenly;
}

#confirmDelete,#notDelete{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive{
  display: none;
}

.deleteContainer{
  display: none;
  display: flex;
 
}
