/* default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section width start*/
@media (min-width: 320px) {
  section {
    width: auto;
    min-width: 320px;
  }
}

@media (min-width: 480px) {
  section {
    width: auto;
    min-width: 480px;
  }
}

@media (min-width: 600px) {
  section {
    width: auto;
    min-width: 600px;
  }
}

@media (min-width: 801px) {
  section {
    width: auto;
    min-width: 801px;
  }
}

@media (min-width: 1025px) {
  section {
    width: auto;
    min-width: 1025px;
  }
}

@media (min-width: 1281px) {
  section {
    width: auto;
    width: 1200px;
  }
}
/* section width end*/

section{
    margin-bottom: 30px 30px;
    color: #333;
}

.blogContent{
    margin: 30px 30px;
}

img{
    margin: 30px;
}

h1,h2,h3 {
  font-weight: 800;
  color: #A45C14;
}