*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}

.bigContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: rgba(248,243,227,1);
}


.mainContent{
    height: 350px;
}

.mainPicture{
    margin-top: 30px;
    background: url(/images/hongkong.jpg) no-repeat;
    background-position: 60% 45%;
    background-size: 1080px 700px;
    width: 1080px;
    height: 300px;
}

.classBar{
    height: 80px;
    display: flex;
    justify-content: center;
}

.classBarItems{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.classBarItems1,.classBarItems2,.classBarItems3{
    border: solid black 1px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.classBarItems3{
    background-color: #ade8f4;
    color:#555;
}

.campingPlannerBar{
    display: flex;
    justify-content: center;
}

.plannerContent{
    height: 350px;
    width: 80%;
    background-color: #ade8f4;
    margin: 0;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.createAccount{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.createAccountContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0;
    background-color: #edf6f9;
    height: 30px;
    border: solid #ccc 2px;
}

#createNewAccountHeading{
    font-size: 30px;
}

#createNewAccountWording, #createNewAccountHeading{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    border: none;
    margin: 5px 0px;
    width: 600px;
    position: relative;
    right: 3px;
}

#icon{
    margin: 10px;
}


.loggedButton{
    width: 200px;
    height: 20px;
    display: flex;
    justify-content:space-around;
    margin-right: 30px;
}

.loggedButton > button{
   background-color: #FFF;
   font-size: 25px;
   border: none;
   
}

.selectButtons{
    width:1080px;
    display: flex;
    justify-content: space-around;
}
.selectButton1{
    background-color: #F0F7F6;
    color: #000;
    padding: 15px 32px;
    border: #F0F7F6;
    font-size: 20px;
    border-bottom: solid black 3px;
    padding-bottom: 3px;
}

.selectButton{
    background-color: #F0F7F6;
    color: #000;
    padding: 15px 32px;
    border: none;
    font-size: 20px;
}

.hugeContent {
    background-color: #F0F7F6;
    width: 1080px;
    height: auto;
    margin-bottom: 20px;
}

.heading{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

.adddiv{
    display: flex;
    justify-content: flex-end;
}

.addButton{
    background-color: #0892A5;
    border: none;
    padding: 15px 32px;
    font-size: 25px
}

.weather{
    margin: 0 0px;
    height: auto;
    width: 500px;
}
  

.smallcontainer{
    display: flex;
    justify-content: start;
    width: auto;
}

.weatherBox{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 1080px;
    align-items: center;
    font-size: 16px;
}

.weatherBox:nth-child(odd){
    background-color: #FFF;

}

.weatherItems{
    margin: 0 20px;
}

.weatherBox img{
    height: 100px;
    width: 100px;
    margin: 20px 0;
}