* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: rgba(248,243,227,1);
}


.createAccount {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.createAccountContent,.createAccountContent4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px 0;
  background-color: transparent;
  border-radius: 12px;
  height: 40px;
  border: solid rgba(248,243,227,1) 3px;
}

.createAccountContent2 {
  margin: 0;

  border: none;
}

label,
input,
select {
  border: none;
  width: 200px;
  height: 25px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  background-color: transparent;
  color: #555;
  text-align: left;
  appearance: none;
  outline: none;
  margin-bottom: 0px;
}

input[type="submit"] {
  height: 40px;
  width: 80px;
  border: none;
  margin: 20px 0px;
  position: relative;
  left: 40%;
  font-size: 14px;
  color: #555;
  background-color: transparent;
  border-radius: 15px;
  border: solid rgba(248,243,227,1)3px;
  text-align: center;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(242, 247, 242, 1)
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainContent{
    height: 650px;
    max-width: 1200px;
    overflow: hidden;
    margin: 0;

}

.mainPicture {
  position: relative;
  top: -630px;
  left: 0%;
  
  background-color: transparent;
  width: 1200px;
  
  z-index: 9;
}

.mainSlider {
  position: relative;
  top: 0%;
  left: 0%;

  width: 1200px;
  height: 650px;
  z-index: 7;
  background: url(../images/steppercamp.jpeg);
  filter: blur(3px);
}

.classBarItems {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.plannerContent {
  height: 450px;
  width: 55%;
  background-color: rgba(184,215,185,1);
  margin: 0;
  color: #555;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
}

.campingPlannerBar {
  display: flex;
  justify-content: center;
}

.NewAccountHeadingBox {
  height: 70px;
  margin: 20px 0 20px 0;
}
#createNewAccountHeading {
  font-size: 30px;
}

#createNewAccountWording,
#createNewAccountHeading {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(248,243,227,1);
  font-weight: bolder;
}
#step2-filter {
  background-color: transparent;
  color: #555;
  border-radius: 12px;
  border: solid rgba(248,243,227,1) 3px
}
#campsiteInfo {
  height: 200px;
  overflow: auto;
  background-color: transparent;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.introductionBox {
  display: flex;
  flex-direction: row;
  background-color: rgba(248,243,227,1);
  padding: 10px 0;
  margin: 10px 0;
}

.introPics {
  padding-left: 5px;
  padding-right: 5px;
  width: 35px;
  border-right: solid 1px;
  font-size: 18px;
}

.wordIntro {
  padding-left: 10px;
  letter-spacing: 5px;
}

#icon {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

.step-bar {
  width: 70%;
  display: flex;
  position: relative;
  left: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px 0 40px 0;
  counter-reset: step;
  height: 40px;
}

.line-2,
.line-3 {
  position: relative;
  width: 30%;
  height: 1px;
  background-color: #ddd;
  top: 20px;
  left: -50%;
  z-index: 0;
  margin: 0;
  padding: 0;
}
.none {
  position: relative;
  top: 0%;
  left: -50%;
  width: 40px;
  height: 40px;
  background-color: rgba(246, 244, 210, 1);
  border-color: transparent;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  outline: none;
  appearance: none;
  color: #555;
  margin: 0;
}

.none:hover {
  cursor: pointer;
  background-color: rgba(242, 247, 242, 1);
  box-shadow: 0px 0px 0px transparent;
}

.tap-style {
  width: 100px;
  height: 100px;
}

button:focus {
  outline: 0;
}

.warning{
  border: solid rgba(230,89,33,1) 3px;
}

.warningSign{
  color: rgba(230,89,33,1);
}

.inactiveStepBar{
  background-color: #CBDFBD;
}