@media (min-width: 0) {

}

@media (min-width: 320px) {
  .tab{
    width: auto;
    min-width: 320px;
  }
  .tabButton{
    width: 25%;
  }
}

@media (min-width: 480px) {
  .tab{
    min-width: 480px;
  }
  .tabButton{
    width: 25%;
  }
}

@media (min-width: 600px) {
  .tab{
    min-width: 600px;
  }
  .tabButton{
    width: 25%;
  }
}
  

@media (min-width: 801px) {
  .tab{
    min-width: 801px;
  }
  .tabButton{
    width: 25%;
  }
}

@media (min-width: 1025px) {
  .tab{
    min-width: 1025px;
  }
  .tabButton{
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .tab{
    min-width: 1200px;
  }
  .tabButton{
    width: 25%;
  }
}

.tabBox{
    display: flex;
    justify-content: center;
}

.tab{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;  
    border:solid 1px rgba(184,215,185,1);
    background-color: transparent;
    margin-top: 5px;
    
}

.tabContent {
    display: none;
}


.tab button{
    color: rgba(230,89,33,1);
    border: none;
    font-size: 20px;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    width: auto;
    font-weight: bold;
 
    
}

.addButton:hover,
.tabButton:hover {
    background-color: rgba(184,215,185,0.8);
    
  }

.addButton.active,
.tabButton.active {
    background-color: rgba(184,215,185,0.8);
    
}
.tabButton{
  display: flex;
  justify-content: center;
  border:solid 1px rgba(184,215,185,1);
}
.tabButton:nth-child(1),
.tabButton:nth-child(2),
.tabButton:nth-child(3){
  display: flex;
  justify-content: center;
  border-right:solid 1px rgba(184,215,185,1);
}